// RGB

$white: rgb(250, 250, 250);
$light-grey: rgb(224, 224, 224); 
$light-purple: rgb(186, 71, 252);
$purple: rgb(103, 58, 183);
$grey: rgb(66, 66, 66);
$dark-blue: rgb(63, 81, 181);
$error: rgb(244, 67, 54);

// RGBA

$purple-rgba: rgba(103,58,183, 0.3);
$dark-purple-rgba: rgba(45, 40, 62, 0.3); 