<div class="container my-5">
    <h1 class="mb-3">Add new post</h1>

    <form #form="ngForm" class="row g-3" (ngSubmit)="addPost()">
        <div class="col-12">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)] = "addPostRequest.title">
        </div>
        <div class="col-12">
            <label for="summary" class="form-label">Summary</label>
            <textarea class="form-control" id="summary" placeholder="Lorem ipsum..."
            name="summary" [(ngModel)] = "addPostRequest.summary" maxlength="250"></textarea>
        </div>
        <div class="col-12">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" placeholder="Lorem ipsum..."
            name="content" [(ngModel)] = "addPostRequest.content"></textarea>
        </div>
 
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Add post</button>
        </div>
    </form>

</div>