@import "../../../css/partial/colors";

footer {
    height: 50px;

    background-color: $light-grey;    
}

#info {

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 100%;

    #creator {
        
        display: inline-flex;
        align-items: center;

        p {
            margin: 5px;
        }
    }

    a {
        font-size: 17px;
        margin-right: 15px;
    }
}