<div class="container">
    <div  class="row row-cols-1 row-cols-lg-2 g-2" *ngIf="posts && posts.length > 0">
        <div class="col" *ngFor="let post of posts">
          <div class="card" (click)="onPostClick(post.id)">
            <div class="card-body">
              <h4 class="card-title"><strong>{{post.title}}</strong></h4>
              <p class="card-text">{{post.authorName}} - {{datePipe.transform(post.updatedAt, "MMM dd, yyyy")}}</p>
              <p class="card-text">{{post.summary}}</p>
            </div>
          </div>
        </div>
    </div>
    
    <p *ngIf="!posts || posts.length <= 0">No posts found</p>
    
</div>
